.container {
  width: 100%;
  margin: 0 auto;

  padding-left: 50px;
  padding-right: 50px;

  outline: 1px solid red;

  @media screen and (min-width: 768px) {
    width: 768px;

    padding-left: 100px;
    padding-right: 100px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;

    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
