.news__section {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    margin: 80px 0;
  }
}

.news__title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.news__list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

.news__item {
  display: flex;
  flex-direction: column;
  width: 270px;
  gap: 20px;
}

.news_text {
  font-size: 16px;
  font-weight: 500;
  width: 270px;
}

.news__btn {
  padding: 10px 30px;
  border-radius: 10px;
  background: #ffb36c;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
